
<main aria-labelledby="title">   

    <div class="row">
        <div class="presentation-1">            
            <h2 class="text-center text-white p-md-4">Reglas de negocio y usuario</h2>
        </div> <br /><br />

        <div class="col-md-4 m-md-2">
            @Html.ActionLink("Inicio", "Index", "Home", new { area = "" }, new { @class = "btn btn-primary" })
        </div>

        <div class="col-md-12 m-md-3 p-md-3 bg-success bg-gradient text-white">
            <h5>Rentas</h5>
            <ul>
                <li>Agregar --> </li>
                <li>Editar ----> </li>
                <li>Eliminar -> </li>
            </ul>
        </div>

        <div class="col-md-12 m-md-3 p-md-3 bg-success bg-gradient text-white">
            <h5>Clientes</h5>
            <ul>
                <li>Agregar --> </li>
                <li>Editar ----> </li>
                <li>Eliminar -> </li>
            </ul>
        </div>

        <div class="col-md-12 m-md-3 p-md-3 bg-success bg-gradient text-white">
            <h5>Vehículos</h5>
            <ul>
                <li>Agregar --> </li>
                <li>Editar ----> </li>
                <li>Eliminar -> </li>
            </ul>
        </div>

        <div class="col-md-12 m-md-3 p-md-3 bg-success bg-gradient text-white">
            <h5>Empleados</h5>
            <ul>
                <li>Agregar --> </li>
                <li>Editar ----> </li>
                <li>Eliminar -> </li>
            </ul>
        </div>

        <div class="col-md-12 m-md-3 p-md-3 bg-success bg-gradient text-white">
            <h5>Direcciones</h5>
            <ul>
                <li>Agregar --> </li>
                <li>Editar ----> </li>
                <li>Eliminar -> </li>
            </ul>
        </div>

        <div class="col-md-12 m-md-3 p-md-3 bg-success bg-gradient text-white">
            <h5>Mantenimientos</h5>
            <ul>
                <li>Agregar --> </li>
                <li>Editar ----> </li>
                <li>Eliminar -> </li>
            </ul>
        </div>

    </div>
</main>